body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.outer-box {
    width: 500px;
    background-color: lightskyblue;
    padding: 15px;
}
.inner-box {
    background-color: lightgray;
    padding: 50px;
    margin: 20px;
    border: 15px solid lightskyblue;
}
p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: black;
    margin: 0;
}